@import 'tailwindcss'; /* Para Tailwind v4 */
/* Si usas v3, usa: 
@tailwind base;
@tailwind components;
@tailwind utilities; 
*/

/* Configuración de Tailwind v4 */
@theme {
  --color-pluxeeBlue: #002d72;
  --color-pluxeeBlueLight: #17ccf9;
  --color-pluxeeYellow: #ffeb00;
  --color-pluxeeGreen: #00eb5d;
  --color-tolkoRed: #cc0032;
}
